<p><b><%= @user.username %></b></p>
<%= render 'shared/stats' %>
<%= render 'follow_form' if signed_in? %>
<% if signed_in? %>
  <%= link_to 'Logout', logout_path %>
<% end %>
<%= link_to "Go to Events List", events_path %><br>
<% @user_events.each do |user_event| %>
  <h3><%= user_event.title %></h3>
  <p><%= user_event.description %></p>
  <p><%= user_event.date %></p><br>
<% end %>
